<head>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <style>
    header {
      background: url("https://i.imgur.com/95SOe1T.png");
      background-size: cover;
      max-width: 100%;
      height: 200px;


    }

    div {
      font-family: Roboto;
    }

    .row {
      display: flex;
    }

    .column {
      flex: 50%;
    }
  </style>



</head>




{% block body %}
<!--
  <h1>{{name}}</h1>
  <h1>{{attr}}</h1> -->

<header>
</header>
<div class="row">
  <div class="column" style="background-color: #EEE">
    {% for x in range(6) %}
    <h1> {{attr[x]}} : {{name[x]}} </h1>
    {% endfor %}
  </div>

  <div class="column">
    <h1> Name: {{name[0]}} </h1>


    <img src="{{img}}">
  </div>
</div>







{% endblock %}
