<head>
  <title>SmiteChart</title>
  <style>
  .wrapper{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows:minmax(100px, auto);
    grid-gap:1em;
    justify-items:stretch;
    align-items:stretch;
  }

  .wrapper > div{
    background:#eee;
    padding:1em;
  }
  .wrapper > div:nth-child(odd){
    background:#ddd;
  }

  img {
    max-width: 100px;
    max-length: 100px;}/* XXX:  */;
  }

  </style>
</head>


  <li class="list-group-item"> <a href="test"> link to test page </a> </li>


  <p>
    <div class="wrapper">
      {% for item in data %}

      <div class="thumbail"> <a href="gods/{{item}}"> <img src =  {{data[item]["godIcon_URL"]}}> <br>{{item}} </a> </div>


      {% endfor %}
    </div>
  </p>
