<article class="grid-container">
<div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-4">
<div class="cell">

<h1>{{name}}</h1>
<h1>{{god_icon}}</h1>
<h1>{{all}}</h1>


{% for item in all %}
    <br></br>
    <li class="list-group-item"> <a href="gods/{{item[0]}}"> <img class="thumbnail" src="{{item[2]}}"></a> </li>
{% endfor %}




<!--
<img class="thumbnail" src="https://placehold.it/550x550">
<h5>My Site</h5>
</div>
<div class="cell">
<img class="thumbnail" src="https://placehold.it/550x550">
<h5>My Site</h5>
</div>
<div class="cell">
<img class="thumbnail" src="https://placehold.it/550x550">
<h5>My Site</h5>
</div>
<div class="cell">
<img class="thumbnail" src="https://placehold.it/550x550">
<h5>My Site</h5>
</div>
<div class="cell">
<img class="thumbnail" src="https://placehold.it/550x550">
<h5>My Site</h5>
</div>
<div class="cell">
<img class="thumbnail" src="https://placehold.it/550x550">
<h5>My Site</h5>
</div>
<div class="cell">
<img class="thumbnail" src="https://placehold.it/550x550">
<h5>My Site</h5>
</div>
<div class="cell">
<img class="thumbnail" src="https://placehold.it/550x550">
<h5>My Site</h5>
</div>
<div class="cell">
<img class="thumbnail" src="https://placehold.it/550x550">
<h5>My Site</h5>
</div>
<div class="cell">
<img class="thumbnail" src="https://placehold.it/550x550">
<h5>My Site</h5>
</div>
<div class="cell">
<img class="thumbnail" src="https://placehold.it/550x550">
<h5>My Site</h5>
</div>
<div class="cell">
<img class="thumbnail" src="https://placehold.it/550x550"> -->
